*{
    margin: 0;
    padding: 0;
}
html, body{
    height: 100%;

    font-family: 'Lobster', cursive;
    font-family: 'Roboto', sans-serif;

    background: #62FF6E;
}


/*
    ---Page Content---

    01  -- Scroll Bar
    02  -- Header
    03  -- Navigation Bar

*/



        /*  01  -- Scroll Bar  */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #B1B2B1;
}

        /*  01  -- END Scroll Bar  */



        /*  02  -- Header   */

.Header {
    font-family: Lobster;
    font-size: 56px;
    text-align: center;
    font-style: oblique
}


        /*  03  --  Nav Bar  */

/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: #2E537F;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #FF4915    ;
  text-align: center;
  padding: 8px;
  margin: 8px;
  text-decoration: none;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}

/*   Starts the Navigation Blocks. */
.Home {
    cursor: pointer;
}
.statistics {
    cursor: pointer;


        /*  03 --  END  Nav Bar  */
